@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your personal Cookbook</h1>
    <p>This Web Application will allow you to Add, Edit and delete recipes out of your personal Online Cookbook.</p>
    <p>Planning for a big event and need recipes for Thanksgiving, Christmas or perhaps your interested in creating a Printable sheet for your kitchen.</p>
    <p>This application would be perfect for you! Click the links above to get started.</p>
    <p>When you are finished simply print off your edited cookbook and now your on your way to becoming a Pro chef!</p>
    <h2>TIP!  Leave a link for your recipes in the Ingrediants Box.</h2>
</div>
