@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No need to worry! This Website does not ask for any of your personal information. You can feel safe creating your new online Cookbook!</p>